@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.app {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

button {
    width: 74%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px; 
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 3 0px;
}

img {
    width: 50vw;
}