.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    height: 100px;
    background: white;
    font-family: 'Poppins', sans-serif;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            background-color: aquamarine;
            border-radius: 5px;
            align-self: flex-end;
        }
    }

    .left {
        .title {
            font-weight: bold;
            font-size: 14px;
            color: #A7A7A7;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
            color: rgb(102,178,255);
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
            color: gray;
        }
    }

    &:hover {
        background-color: #cae3f3fe;

        .counter {
            color: black;
        }

        .link {
            color: rgb(102,178,255);
        }

        .title {
            color: rgb(102,178,255);
        }
    }
}
