.single {
    display: flex;
    width: 100%;
  
    .singleContainer {
      flex: 6;
  
      .addImagesContainer {
        margin-top: 20px;
        padding: 20px;
        
        .cameraLogo {
            width: 100px;
            height: 200px;
        }

        .hidden {
            display: none;
        }
  
        .title {
          font-size: 16px;
          color: lightgray;
          margin-bottom: 20px;
        }
  
        .camera-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .camera {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-bottom: 10px;
          }
          
          .controls {
            display: flex;
            justify-content: center;
            width: 100%;
            
            button {
              width: 50%;
              padding: 10px;
              font-size: 14px;
              color: white;
              background-color: #66b2ff;;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              margin-right: 10px;
            }
            
            button:last-child {
              margin-right: 0;
            }
          }
        }
        
        .images-preview {
          display: flex;
          justify-content: center;
          gap: 20px;
          margin-top: 20px;
          
          img {
            max-width: 200px;
            height: auto;
          }
        }
        
        .disabled {
          opacity: 0.9;
          pointer-events: none;
        }
      }
    }
  }
  
  .newUser {
  flex: 4;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;

  .newUserSelect {
    
  }
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: #66B2FF;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}