.single {
    display: flex;
    width: 100%;
  
    .singleContainer {
      flex: 6;
  
      .addImagesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;

        .submitBut {
          padding: 10px 15px; 
          width: 200px; 
          font-size: 14px;
          color: white;
          background-color: #66b2ff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin: 10px;
        }  
  
        .cameraLogo {
            margin-top: 100px;
            width: 100px;
            height: 50px;
        }

        .hidden {
            display: none;
        }
  
        .title {
          font-size: 16px;
          color: lightgray;
          margin-bottom: 20px;
        }
  
        .camera-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .camera {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-bottom: 10px;
          }
          
          .controls {
            display: flex;
            justify-content: center;
            width: 100%;
            
            button {
              padding: 10px;
              font-size: 14px;
              color: white;
              background-color: #66b2ff;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              margin-right: 10px;
            }

            button:last-child {
              margin-right: 0;
            }
          }
        }
        
        .images-preview {
          display: flex;
          justify-content: center;
          gap: 20px;
          margin-top: 20px; 
          
          img {
            max-width: 200px;
            height: auto;
          }
        }
        
        .disabled {
          opacity: 0.9;
          pointer-events: none;
        }
      }
    }
  }
  